/* Created   by https://github.com/rxyhn 
   Designed  by https://github.com/rxyhn
   Maintaned by https://github.com/rxyhn
*/

// Global
*{
  all: unset;
}

// Catppuccin latte
$rosewater: #dc8a78;
$flamingo: #dd7878;
$pink: #ea76cb;
$mauve: #8839ef;
$red: #d20f39;
$maroon: #e64553;
$peach: #fe640b;
$yellow: #df8e1d;
$green: #40a02b;
$teal: #179299;
$sky: #04a5e5;
$sapphire: #209fb5;
$blue: #1e66f5;
$lavender: #7287fd;
$text: #4c4f69;
$subtext1: #5c5f77;
$subtext0: #6c6f85;
$overlay2: #7c7f93;
$overlay1: #8c8fa1;
$overlay0: #9ca0b0;
$surface2: #acb0be;
$surface1: #bcc0cc;
$surface0: #ccd0da;
$crust: #dce0e8;
$mantle: #e6e9ef;
$base: #eff1f5;

// Variable Color's
$background: $base;
$foreground: $surface0;

$border-radius: 15px;

$pane: $crust;

$magenta: $maroon;
$cyan: $teal;

// EWW BAR
.eww_bar{
  background-color: $background;
  padding: .3rem;
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

// Launcher
.launcher_icon{
    color: $cyan;
    font-family: "Font Awesome 6 Free";
    font-size: 1.7em;
    padding: 1rem 0 1rem 0;
}

// Workspaces
.works {
}

.active {
  color: $rosewater;
}

.inactive {
  color: $text;
}

.0 , .01, .02, .03, .04, .05, .06,
.011, .022, .033, .044, .055, .066{
  margin: .55rem 0 .55rem 0;
}

/* Unoccupied */
.0 {
color: $text;
}

/* Occupied */
.01, .02, .03, .04, .05, .06 {
  color: $text;
}

/* Focused */
.011,
.022,
.033,
.044,
.055,
.066 {
  color: $foreground;
}

.0:nth-child(1),
.0:nth-child(3){
  font-size: 1.5em;
}
.0:nth-child(2){
  font-size: 1.4em;
}
.0:nth-child(4),
.0:nth-child(5){
  font-size: 1.6em;
}
.0:nth-child(6){
  font-size: 1.7em;
}
.01,
.011,
.03,
.033{
  font-size: 1.5em;
}
.02,
.022{
  font-size: 1.4em;
}
.04,
.05,
.044,
.055{
  font-size: 1.6em;
}
.06,
.066{
  font-size: 1.7em;
}

// Control Panel
.control {
padding: .5rem;
font-family: Material Icons;
font-size: 1.6em;
background-color: $pane;
border-radius: 5px;
}
.bat{
  font-family: JetBrainsMono Nerd Font;
  font-size: 1.2em;
  padding-right: .5rem;
  color: $blue;
}
.wifi-icon{
  margin-bottom: .2rem;
  color: $maroon;
}
.brightness-icon{
  margin: .2rem 0 .2rem 0;
  color: $yellow;
}
.volume-icon{
  margin: .2rem 0 .2rem 0;
  color: $lavender;
}
scale trough {
  all: unset;
  background-color: $background;
  border-radius: 5px;
  min-height: 80px;
  min-width: 10px;
  margin: .3rem 0 .3rem 0;
}
.bribar trough highlight {
  background-color: $yellow;
  border-radius: 5px;
}
.volbar trough highlight {
  background-color: $green;
  border-radius: 5px;
}

// Clock
.time {
  font-family: Comic Mono;
  font-weight: bold;
  font-size: 1.2em;
  background-color: $pane;
  color: $text;
  border-radius: 5px;
  padding: .7rem 0 .5rem 0;
  margin: .5rem 0 .5rem 0;
}

// Calendar
.cal-box {
  background-color: $pane;
  font-family: Comic Mono;
  font-size: 1em;
  font-weight: bold;
  color: $text;
  border-radius: $border-radius;

  .cal-inner-box {
      padding: 1rem 1rem .2rem;

      .cal {
          &.highlight {
              padding: 10rem;
          }

          padding: .8rem .25rem 0rem;
          margin-left: 10px;
      }
  }
}

calendar:selected {
  color: $rosewater;
}

calendar.header {
color: $rosewater;
font-weight: bold;
}

calendar.button {
color: $text;
}

calendar.highlight {
color: $text;
font-weight: bold;
}

calendar:indeterminate {
color: $subtext0;
}

// Powermenu
.powermenu {
  font-family: Material Icons;
  font-size: 1.4em;
  font-weight: bold;
}
.button-bspres, .button-reb, .button-lock,
.button-quit, .button-off{
  padding: .5rem .2rem .3rem .2rem;
}
.button-off{
  margin-bottom: .5rem;
  color: $red;
}
.button-bspres{
  color: $green;
}
.button-reb{
  color: $yellow
}
.button-quit{
  color: $magenta;
}
.button-lock{
  color: $blue;
}
